name: 'Quarkus - Build and Release'

on:
  workflow_call:
    inputs:
      java_version:
        required: false
        type: string
        default: '21'
      java_distribution:
        required: false
        type: string
        default: 'temurin'
      maven_version:
        required: false
        type: string
        default: '3.9.6'
      target_maven_path:
        required: false
        type: string
        default: './target/'
      profile_maven:
        required: true
        type: string
      image_name:
        required: false
        type: string
        default: '${{ github.repository }}'
      image_tag:
        required: false
        type: string
        default: '${{ github.ref_name }}'
      image_registry:
        required: false
        type: string
        default: 'ghcr.io'
      dockerfile_path:
        required: false
        type: string
        default: './src/main/docker/Dockerfile.jvm'
      docker_build_arguments:
        required: false
        type: string
        default: ""

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java ${{ inputs.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ inputs.maven_version }}

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Extract artifactId and version
        id: extract_info
        run: |
          ARTIFACT_FINALNAME=$(mvn help:evaluate -Dexpression=project.build.finalName -q -DforceStdout)
          echo "final_name=$ARTIFACT_FINALNAME" >> $GITHUB_OUTPUT

      - name: Run build
        run: |
          mvn clean package -P${{ inputs.profile_maven }}

      - name: Log in to Image Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.image_registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ inputs.image_registry }}/${{ inputs.image_name }}-${{ inputs.profile_maven }}:${{ inputs.image_tag }}
            ${{ inputs.image_registry }}/${{ inputs.image_name }}-${{ inputs.profile_maven }}:latest
          file: ${{ inputs.dockerfile_path }}
          build-args: ${{ inputs.docker_build_arguments }}

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ github.ref_name }}-${{ inputs.profile_maven }}"
          release_name: "${{ github.ref_name }}-${{ inputs.profile_maven }}"
          body: |
            ## Changes in this Release
            
            ### Docker Images
            - Container Image: `${{ inputs.image_registry }}/${{ inputs.image_name }}-${{ inputs.profile_maven }}:${{ inputs.image_tag }}`
            - Container Image: `${{ inputs.image_registry }}/${{ inputs.image_name }}-${{ inputs.profile_maven }}:latest`

            ### Artifacts
            - JAR artifact is attached to this release
            
            **Full Changelog**: https://github.com/${{ github.repository }}/compare/${{ github.ref_name }}...HEAD
          draft: false
          prerelease: false
      - name: Package fast-jar for distribution
        run: |
          WORKSPACE="${{ github.workspace }}"
          TARGET_PATH="${{ inputs.target_maven_path }}"
    
          TARGET_PATH="${TARGET_PATH%/}"
    
          tar -czf "${WORKSPACE}/quarkus-app-${{ github.ref_name }}.tar.gz" \
          -C "${TARGET_PATH}" \
          quarkus-app/

          cd "${TARGET_PATH}/quarkus-app"
          zip -r "${WORKSPACE}/quarkus-app-${{ github.ref_name }}.zip" .
      - name: Upload fast-jar TAR.GZ to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./quarkus-app-${{ github.ref_name }}.tar.gz
          asset_name: ${{ steps.extract_info.outputs.final_name }}-${{ inputs.profile_maven }}-fast-jar.tar.gz
          asset_content_type: application/gzip
      - name: Upload fast-jar ZIP to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./quarkus-app-${{ github.ref_name }}.zip
          asset_name: ${{ steps.extract_info.outputs.final_name }}-${{ inputs.profile_maven }}-fast-jar.zip
          asset_content_type: application/zip